.box-details-name{
  display: flex;
  flex-direction: column;
  width: 100%;

  &-title,
  &-number{
    margin: 0;
  }

  &-title{
    font-size: 1.563em;
    
    margin-right: 10px;
  }

  &-number{
    line-height: 1.8;
  }
}